<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
    <script src="/js/admin.js" defer></script>
</head>
<body style="background-color: #ececec">

<!--Верхняя строка, реализация имени пользователя и кнопки выходя-->
<div class="container p-0">
    <div class="p-3 m-0 bg-dark text-white">
        <div class="row w-100">
            <div class="col-1 w-50">
                <blockquote class="blockquote">
                    <p class="mb-0" style="display: inline; vertical-align: middle"
                       id="currentAdminEmailNavbar">
                        <!-- TODO Вывод информации сверху (имеил и роли)-->
                    </p>
                </blockquote>
            </div>
            <div class="col-2 w-50 text-end">
                <h5>
                    <small class="text-muted">
                        <a class="mb-0"
                           style="text-align: right; vertical-align: middle; color: rgba(166,166,166,0.85); text-decoration: none;"
                           th:href="@{/logout}">Logout</a>
                    </small>
                </h5>
            </div>
        </div>
    </div>
</div>
<!-- Конец реализации верхней строки и кнопки выхода -->

<div class="container ">
    <div class="row w-100">
        <!-- Реализация левой панели списка юзеров-->
        <div class="d-flex align-items-start p-0 m-0">
            <div class="nav flex-column nav-pills w-25 me-1" id="v-pills-tab" role="tablist"
                 aria-orientation="vertical">
                <div class="card vh-100 p-0 b-0 m-0">
                    <div class="card-body h-100 p-0 b-0 m-0" id="leftPanelNavbar">
                        <button class="nav-link active w-100 p-2 m-0 b-0" id="v-pills-home-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-home"
                                type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">
                            Admin
                        </button>
                        <button class="nav-link w-100 p-2 m-0 b-0" id="v-pills-profile-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-profile"
                                type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                            User
                        </button>
                    </div>
                </div>
            </div>

            <!-- Реализация информации внутри кнопки ADMIN-->
            <div class="tab-content w-100 p-3" id="v-pills-tabContent">
                <div class="tab-pane fade show active " id="v-pills-home" role="tabpanel"
                     aria-labelledby="v-pills-home-tab">

                    <div class="container" style="background-color: #ececec">
                        <div class="row mw-125">
                            <div class="col-1 w-100">
                                <p class="h1">Admin panel</p>
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <button class="nav-link active"
                                                id="nav-home-tab"
                                                data-bs-toggle="tab"
                                                data-bs-target="#nav-home"
                                                type="button" role="tab"
                                                aria-controls="nav-home"
                                                aria-selected="true">Users Table
                                        </button>

                                        <button class="nav-link"
                                                id="nav-profile-tab"
                                                data-bs-toggle="tab"
                                                data-bs-target="#nav-profile"
                                                type="button" role="tab"
                                                aria-controls="nav-profile"
                                                aria-selected="false">New User
                                        </button>
                                    </div>
                                </nav>
                                <div class="tab-content mw-100" id="nav-tabContent">
                                    <div class="tab-pane fade show active"
                                         id="nav-home" role="tabpanel"
                                         aria-labelledby="nav-home-tab">
                                        <!-- начало реализации окна с таблицей пользователей -->
                                        <div class="row">
                                            <div class="card p-0 m-0">
                                                <div class="card-header">
                                                    <p class="h5">
                                                        All users
                                                    </p>
                                                </div>
                                                <div class="card-body">
                                                    <table class="table table-striped">
                                                        <thead class="thead-dark">
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Username</th>
                                                            <th>First Name</th>
                                                            <th>Last Name</th>
                                                            <th>Email</th>
                                                            <th>Year Of Birth</th>
                                                            <th>Role</th>
                                                            <th>Edit</th>
                                                            <th>Delete</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody id="allUsersTable">
                                                        <!-- TODO начало реализации ВНУТРЕННЕЙ ЧАСТИ ТАБЛИЦЫ ВСЕХ ПОЛЬЗОВАТЕЛЕЙ С КНОПКАМИ -->
                                                        <!-- TODO конец реализации ВНУТРЕННЕЙ ЧАСТИ ТАБЛИЦЫ ВСЕХ ПОЛЬЗОВАТЕЛЕЙ С КНОПКАМИ -->
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!-- конец реализации окна с таблицей пользователей -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- начало реализации создания нового пользователя-->
                                    <div class="tab-pane fade"
                                         id="nav-profile"
                                         role="tabpanel"
                                         aria-labelledby="nav-profile-tab">
                                        <!-- Форма-->
                                        <div class="card p-0 m-0">
                                            <div class="card-header">
                                                <p class="h5">
                                                    Add new user
                                                </p>
                                            </div>
                                            <div class="card-body-create-user">
                                                <!-- начало формы создания нового пользователя НИЖЕ ДЕЛАЕТ JS-->
                                                <!-- начало формы создания нового пользователя НИЖЕ ДЕЛАЕТ JS-->
                                            </div>

                                        </div>
                                    </div>
                                    <!-- конец реализации создания нового пользователя-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade p-0 m-1" id="v-pills-profile" role="tabpanel"
                     aria-labelledby="v-pills-profile-tab">
                    <p class="h1 p-1">User information-page panel</p>
                    <div class="row">
                        <div class="card p-0 m-2">
                            <div class="card-header">
                                <p class="h5">
                                    About user
                                </p>
                            </div>
                            <div class="card-body p-3 m-0">
                                <table class="table table-striped">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th>ID</th>
                                        <th>Username</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th>Year Of Birth</th>
                                        <th>Role</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tableOfCurrentUser">
                                    <!-- Сюда уже все данные вставляет JS -->
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                    <!--TODO Модальное окно для редактирования пользователя НАЧАЛО-->
<div class="modal fade" id="editUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleEditModalLabel">Новое сообщение</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="text-center" style="text-align: center">
                        <label for="editId" class="col-form-label">ID</label>
                        <input type="text" class="form-control mx-auto" style="width: 50%" id="editId">
                    </div>
                    <div class="text-center" style="text-align: center">
                        <label for="editUsername" class="col-form-label">Username</label>
                        <input type="text" class="form-control mx-auto" style="width: 50%" id="editUsername"></input>
                    </div>
                    <div class="text-center" style="text-align: center">
                        <label for="editName" class="col-form-label">Name</label>
                        <input type="text" class="form-control mx-auto" style="width: 50%" id="editName"></input>
                    </div>
                    <div class="text-center" style="text-align: center">
                        <label for="editSurname" class="col-form-label">Surname</label>
                        <input type="text" class="form-control mx-auto" style="width: 50%" id="editSurname"></input>
                    </div>
                    <div class="text-center" style="text-align: center">
                        <label for="editEmail" class="col-form-label">Email</label>
                        <input type="email" class="form-control mx-auto" style="width: 50%" id="editEmail"></input>
                    </div>
                    <div class="text-center" style="text-align: center">
                        <label for="passwordEdit" class="col-form-label">Password</label>
                        <input type="text" class="form-control mx-auto" style="width: 50%" id="passwordEdit"></input>
                    </div>
                    <div class="text-center" style="text-align: center">
                        <label for="yearOfBirthEdit" class="col-form-label">Year Of Birth</label>
                        <input type="number" class="form-control mx-auto" style="width: 50%" id="yearOfBirthEdit"></input>
                    </div>
                    <div class="text-center p-2" style="text-align: center">
                        <label for="rolesEdit" class="col-form-label">Roles</label>
                        <input type="text" class="form-control mx-auto" style="width: 50%" id="rolesEdit"></input>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Edit</button>
            </div>
            </form>
        </div>
    </div>
</div>
                    <!--TODO Модальное окно для редактирования пользователя КОНЕЦ-->

                    <!--TODO Модальное окно для удаления пользователя НАЧАЛО-->
<div class="modal fade" id="deleteUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleDeleteModalLabel">Новое сообщение</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="text-center" style="text-align: center">
                        <label for="deleteInfoId" class="col-form-label">ID</label>
                        <input type="text" class="form-control mx-auto" style="width: 50%" id="deleteInfoId">
                    </div>
                    <div class="text-center" style="text-align: center">
                        <label for="deleteInfoUsername" class="col-form-label">Username</label>
                        <input type="text" class="form-control mx-auto" style="width: 50%" id="deleteInfoUsername"></input>
                    </div>
                    <div class="text-center" style="text-align: center">
                        <label for="deleteInfoName" class="col-form-label">Name</label>
                        <input type="text" class="form-control mx-auto" style="width: 50%" id="deleteInfoName"></input>
                    </div>
                    <div class="text-center" style="text-align: center">
                        <label for="deleteInfoSurname" class="col-form-label">Surname</label>
                        <input type="text" class="form-control mx-auto" style="width: 50%" id="deleteInfoSurname"></input>
                    </div>
                    <div class="text-center" style="text-align: center">
                        <label for="deleteInfoEmail" class="col-form-label">Email</label>
                        <input type="email" class="form-control mx-auto" style="width: 50%" id="deleteInfoEmail"></input>
                    </div>
                    <div class="text-center" style="text-align: center">
                        <label for="deleteInfoPassword" class="col-form-label">Password</label>
                        <input type="text" class="form-control mx-auto" style="width: 50%" id="deleteInfoPassword"></input>
                    </div>
                    <div class="text-center" style="text-align: center">
                        <label for="deleteInfoBirth" class="col-form-label">Year Of Birth</label>
                        <input type="number" class="form-control mx-auto" style="width: 50%" id="deleteInfoBirth"></input>
                    </div>
                    <div class="text-center p-2" style="text-align: center">
                        <label for="deleteInfoRoles" class="col-form-label">Roles</label>
                        <input type="text" class="form-control mx-auto" style="width: 50%" id="deleteInfoRoles"></input>
                    </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Edit</button>
            </div>
            </form>
        </div>
    </div>
</div>
                        <!--TODO Модальное окно для удаления пользователя КОНЕЦ-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>
</html>