<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
</head>
<body>

<!--Верхняя строка, реализация имени пользователя и кнопки выходя-->
<div class="container">
    <div class="p-3 m-4 bg-dark text-white">
        <div class="row w-100">
            <div class="col-1 w-50">
                <blockquote class="blockquote">
                    <p class="mb-0" style="display: inline; vertical-align: middle"
                       th:text="${authUser.getUserName()} + ' with roles: ' + ${
                       #strings.replace(
                       (#strings.replace(
                       (#strings.replace(authUser.getRole(), 'ROLE_', '') + ' '),'[','')),']','')}">
                    </p>
                </blockquote>
            </div>
            <div class="col-2 w-50 text-end">
                <h5>
                    <small class="text-muted">
                        <a class="mb-0"
                           style="text-align: right; vertical-align: middle; color: rgba(166,166,166,0.85); text-decoration: none;"
                           th:href="@{/logout}">Logout</a>
                    </small>
                </h5>
            </div>
        </div>
    </div>
</div>
<!-- Конец реализации верхней строки и кнопки выхода -->

<div class="container">
    <div class="row w-100">
        <!-- Реализация левой панели списка юзеров-->
        <div class="d-flex align-items-start">
            <div class="nav flex-column nav-pills w-25 me-1" id="v-pills-tab" role="tablist"
                 aria-orientation="vertical">
                <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-home"
                        type="button" role="tab" aria-controls="v-pills-home" aria-selected="true"
                        th:text="${authUser.name}">
                </button>
                <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-profile"
                        type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false"
                        th:each="user : ${allUsers}" th:text="${user.getUserName()}"
                        th:unless="${user.name == authUser.name}">
                </button>
            </div>

            <!-- Реализация информации внутри кнопки ADMIN-->
            <div class="tab-content w-100" id="v-pills-tabContent">
                <div class="tab-pane fade show active w-100" id="v-pills-home" role="tabpanel"
                     aria-labelledby="v-pills-home-tab">

                    <div class="container">
                        <div class="row w-100">
                            <div class="col-4 w-100">
                                <p class="h1">Admin panel</p>
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <button class="nav-link active"
                                                id="nav-home-tab"
                                                data-bs-toggle="tab"
                                                data-bs-target="#nav-home"
                                                type="button" role="tab"
                                                aria-controls="nav-home"
                                                aria-selected="true">Users Table
                                        </button>

                                        <button class="nav-link"
                                                id="nav-profile-tab"
                                                data-bs-toggle="tab"
                                                data-bs-target="#nav-profile"
                                                type="button" role="tab"
                                                aria-controls="nav-profile"
                                                aria-selected="false">New User
                                        </button>
                                    </div>
                                </nav>
                                <div class="tab-content w-100" id="nav-tabContent">
                                    <div class="tab-pane fade show active"
                                         id="nav-home" role="tabpanel"
                                         aria-labelledby="nav-home-tab">
                                        <!-- начало реализации окна с таблицей пользователей -->
                                        <div class="row">
                                            <div class="card p-0 m-0 ">
                                                <div class="card-header">
                                                    <p class="h5">
                                                        All users
                                                    </p>
                                                </div>
                                                <div class="card-body">
                                                    <table class="table">
                                                        <thead class="thead-dark">
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Username</th>
                                                            <th>First Name</th>
                                                            <th>Last Name</th>
                                                            <th>Email</th>
                                                            <th>Year Of Birth</th>
                                                            <th>Role</th>
                                                            <th>Edit</th>
                                                            <th>Delete</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr th:each="user:${allUsers}">
                                                            <th scope="row" th:text="${user.getId()}">ID</th>
                                                            <td th:text="${user.getUserName()}">Username</td>
                                                            <td th:text="${user.getName()}">First Name</td>
                                                            <td th:text="${user.getSurname()}">Last Name</td>
                                                            <td th:text="${user.getEmail()}">Email</td>
                                                            <td th:text="${user.getYearOfBirth()}">Year Of Birth</td>
                                                            <td th:text="${#strings.replace(
                        (#strings.replace(
                        (#strings.replace(user.getRole(), 'ROLE_', '') + ' '),'[','')),']','')}">Role
                                                            </td>

                                                            <!-- начало реализации кнопки редактирования -->
                                                            <td>
                                                                <button class="btn btn-primary" data-bs-toggle="modal"
                                                                        th:data-bs-target="${'#editModal'+ user.getId()}"
                                                                        th:data-row="${user}"
                                                                        style="background-color: #4f83d5; border-color: #4f83d5">
                                                                    Edit
                                                                </button>
                                                                <!-- конец реализации кнопки редактирования -->

                                                                <!-- Реализация модального окна редактирования пользователя -->
                                                                <div class="modal" th:id="${'editModal'+ user.getId()}"
                                                                     tabindex="-1">
                                                                    <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h5 class="modal-title">Edit user</h5>
                                                                                <button type="button" class="btn-close"
                                                                                        data-bs-dismiss="modal"
                                                                                        aria-label="Close"></button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <form th:method="PATCH"
                                                                                      th:action="@{/admin/update(id=${user.getId()})}"
                                                                                      th:object="${user}">
                                                                                    <div class="modal-body">
                                                                                        <div class="mb-3">
                                                                                            <label for="idEdit"
                                                                                                   class="col-form-label"><b>ID</b></label>
                                                                                            <input type="text"
                                                                                                   th:value="${user.getId()}"
                                                                                                   name="id"
                                                                                                   class="form-control"
                                                                                                   id="idEdit"
                                                                                                   style="box-shadow: none; border-color: gray; background-color: rgba(186,186,186,0.85);"
                                                                                                   readonly/>
                                                                                        </div>
                                                                                        <div class="mb-3">
                                                                                            <label for="nameUpdate"
                                                                                                   class="col-form-label"><b>First
                                                                                                name</b></label>
                                                                                            <input type="text"
                                                                                                   th:value="${user.getName}"
                                                                                                   name="name"
                                                                                                   class="form-control"
                                                                                                   id="nameUpdate"
                                                                                                   required
                                                                                                   minlength="2"
                                                                                                   maxlength="20"/>
                                                                                        </div>
                                                                                        <div class="mb-3">
                                                                                            <label for="lastnameUpdate"
                                                                                                   class="col-form-label"><b>Last
                                                                                                name</b></label>
                                                                                            <input type="text"
                                                                                                   th:value="${user.getSurname()}"
                                                                                                   name="lastname"
                                                                                                   class="form-control"
                                                                                                   id="lastnameUpdate"
                                                                                                   required
                                                                                                   minlength="2"
                                                                                                   maxlength="20"/>
                                                                                        </div>
                                                                                        <div class="mb-3">
                                                                                            <label for="YearOfBirthUpdate"
                                                                                                   class="col-form-label"><b>Age</b></label>
                                                                                            <input type="text"
                                                                                                   th:value="${user.getYearOfBirth()}"
                                                                                                   name="Year Of Birth"
                                                                                                   class="form-control"
                                                                                                   id="YearOfBirthUpdate"
                                                                                                   required
                                                                                                   minlength="2"
                                                                                                   maxlength="20"/>
                                                                                        </div>
                                                                                        <div class="mb-3">
                                                                                            <label for="emailUpdate"
                                                                                                   class="col-form-label"><b>Email</b></label>
                                                                                            <input type="text"
                                                                                                   th:value="${user.getEmail()}"
                                                                                                   name="email"
                                                                                                   class="form-control"
                                                                                                   id="emailUpdate"
                                                                                                   required
                                                                                                   minlength="2"
                                                                                                   maxlength="20"/>
                                                                                        </div>
                                                                                        <div class="mb-3">
                                                                                            <label for="passwordUpdate"
                                                                                                   class="col-form-label"><b>Password</b></label>
                                                                                            <input type="password"
                                                                                                   th:value="${user.getPassword()}"
                                                                                                   name="password"
                                                                                                   class="form-control"
                                                                                                   id="passwordUpdate"
                                                                                                   required
                                                                                                   minlength="2"
                                                                                                   maxlength="20"/>
                                                                                        </div>
                                                                                        <div class="form-check form-check-inline"
                                                                                             th:each="role : ${roles}">
                                                                                            <input class="form-check-input"
                                                                                                   type="checkbox"
                                                                                                   id="Checkbox1"
                                                                                                   th:value="${user.getRole()}"
                                                                                                   th:checked="${user.getRole().contains(role)}">
                                                                                            <label class="form-check-label"
                                                                                                   for="Checkbox1"
                                                                                                   th:text="${#strings.replace(role.getRoleName(), 'ROLE_', '')}">USER</label>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="modal-footer">
                                                                                        <button type="button"
                                                                                                class="btn btn-secondary"
                                                                                                data-bs-dismiss="modal">
                                                                                            Close
                                                                                        </button>
                                                                                        <input type="submit"
                                                                                               class="btn btn-primary"
                                                                                               value="Edit"/>
                                                                                    </div>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- конец реализации модального окна редактирования -->

                                                                <!-- начало реализации кнопки удаления -->
                                                            <td>
                                                                <button class="btn btn-primary" data-bs-toggle="modal"
                                                                        th:data-bs-target="${'#deleteModal'+ user.getId()}"
                                                                        th:data-row="${user}"
                                                                        style="background-color: #df1818; border-color: #df1818">
                                                                    Delete
                                                                </button>
                                                                <!-- конец реализации кнопки редактирования -->

                                                                <!-- Реализация модального окна удаления пользователя -->
                                                                <div class="modal"
                                                                     th:id="${'deleteModal'+ user.getId()}"
                                                                     tabindex="-1">
                                                                    <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h5 class="modal-title">Delete user</h5>
                                                                                <button type="button" class="btn-close"
                                                                                        data-bs-dismiss="modal"
                                                                                        aria-label="Close"></button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <form th:method="POST"
                                                                                      th:action="@{/admin/delete(userName=${user.getUserName()})}"
                                                                                      th:object="${user}">
                                                                                    <label for="deleteUsername"
                                                                                           class="form-label">Username</label>
                                                                                    <input type="text"
                                                                                           class="form-control"
                                                                                           th:value="*{userName}"
                                                                                           id="deleteUsername"
                                                                                           style="box-shadow: none; border-color: gray; background-color: rgba(186,186,186,0.85);"
                                                                                           readonly/>
                                                                                    <br/>
                                                                                    <label for="deleteName"
                                                                                           class="form-label">Name</label>
                                                                                    <input type="text"
                                                                                           class="form-control"
                                                                                           th:value="*{name}"
                                                                                           id="deleteName"
                                                                                           style="box-shadow: none; border-color: gray; background-color: rgba(186,186,186,0.85);"
                                                                                           readonly/>

                                                                                    <br/>
                                                                                    <label for="deleteSurname"
                                                                                           class="form-label">Surname</label>
                                                                                    <input type="text"
                                                                                           class="form-control"
                                                                                           th:value="*{surname}"
                                                                                           id="deleteSurname"
                                                                                           style="box-shadow: none; border-color: gray; background-color: rgba(186,186,186,0.85);"
                                                                                           readonly/>
                                                                                    <br/>
                                                                                    <label for="deleteEmail"
                                                                                           class="form-label">Email
                                                                                        address</label>
                                                                                    <input type="email"
                                                                                           class="form-control"
                                                                                           th:value="*{email}"
                                                                                           id="deleteEmail"
                                                                                           style="box-shadow: none; border-color: gray; background-color: rgba(186,186,186,0.85);"
                                                                                           readonly/>
                                                                                    <br/>
                                                                                    <label for="deletePassword"
                                                                                           class="form-label">Password</label>
                                                                                    <input type="text"
                                                                                           class="form-control"
                                                                                           th:value="*{password}"
                                                                                           id="deletePassword"
                                                                                           style="box-shadow: none; border-color: gray; background-color: rgba(186,186,186,0.85);"
                                                                                           readonly/>
                                                                                    <br/>
                                                                                    <label for="deleteYearOfBirth"
                                                                                           class="form-label">Year
                                                                                        of
                                                                                        birth</label>
                                                                                    <input type="text"
                                                                                           class="form-control"
                                                                                           th:value="*{yearOfBirth}"
                                                                                           id="deleteYearOfBirth"
                                                                                           style="box-shadow: none; border-color: gray; background-color: rgba(186,186,186,0.85);"
                                                                                           readonly/>
                                                                                    <br/>
                                                                                    <div class="form-check form-check-inline"
                                                                                         th:each="role : ${roles}">
                                                                                        <input class="form-check-input"
                                                                                               type="checkbox"
                                                                                               id="deleteInlineCheckbox1"
                                                                                               th:value="*{role}"
                                                                                               th:checked="${user.getRole().contains(role)}"
                                                                                               style="box-shadow: none; border-color: gray; background-color: rgba(186,186,186,0.85);"
                                                                                               onclick="return false">
                                                                                        <label class="form-check-label"
                                                                                               for="deleteInlineCheckbox1"
                                                                                               th:text="${#strings.replace(role.getRoleName(), 'ROLE_', '')}">USER</label>
                                                                                    </div>
                                                                                    <br/>
                                                                                    <div class="modal-footer">
                                                                                        <button type="button"
                                                                                                class="btn btn-secondary"
                                                                                                data-bs-dismiss="modal">
                                                                                            Close
                                                                                        </button>
                                                                                        <button type="submit"
                                                                                                class="btn btn-primary"
                                                                                                style="background-color: #df1818; border-color: #df1818">
                                                                                            Delete
                                                                                        </button>
                                                                                    </div>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- конец реализации модального окна удаления пользователя -->
                                                            </td>
                                                            <!-- конец реализации кнопки удаления -->
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- конец реализации окна с таблицей пользователей -->
                                    </div>

                                    <!-- начало реализации создания нового пользователя-->
                                    <div class="tab-pane fade"
                                         id="nav-profile"
                                         role="tabpanel"
                                         aria-labelledby="nav-profile-tab">
                                        <!-- Форма-->
                                        <div class="card p-0 m-0">
                                            <div class="card-header">
                                                <p class="h5">
                                                    Add new user
                                                </p>
                                            </div>
                                            <div class="card-body">
                                                <form th:method="POST" th:action="@{/admin}" th:object="${newUser}">
                                                    <label for="usernameNewUser" class="form-label">Username</label>
                                                    <input type="text" class="form-control" th:placeholder="'UserName'"
                                                           th:field="*{userName}"
                                                           id="usernameNewUser"/>
                                                    <br/>
                                                    <label for="nameNewUser" class="form-label">Name</label>
                                                    <input type="text" class="form-control" th:placeholder="'Name'"
                                                           th:field="*{name}"
                                                           id="nameNewUser"/>
                                                    <br/>
                                                    <label for="surnameNewUser" class="form-label">Surname</label>
                                                    <input type="text" class="form-control" th:placeholder="'Surname'"
                                                           th:field="*{surname}"
                                                           id="surnameNewUser"/>
                                                    <br/>
                                                    <label for="emailNewUser" class="form-label">Email address</label>
                                                    <input type="email" class="form-control" th:placeholder="'Email'"
                                                           th:field="*{email}"
                                                           id="emailNewUser">
                                                    <br/>
                                                    <label for="passwordNewUser" class="form-label">Password</label>
                                                    <input type="text" class="form-control" th:placeholder="'Password'"
                                                           th:field="*{password}"
                                                           id="passwordNewUser"/>
                                                    <br/>
                                                    <label for="YearOfBirthNewUser" class="form-label">Year of
                                                        birth</label>
                                                    <input type="text" class="form-control"
                                                           th:placeholder="'Year of birth'" id="YearOfBirthNewUser"
                                                           th:field="*{yearOfBirth}"/>
                                                    <br/>
                                                    <div class="form-check form-check-inline" th:each="role : ${roles}">
                                                        <input class="form-check-input" type="checkbox"
                                                               th:field="*{role}"
                                                               id="inlineCheckbox1NewUser" th:value="${role.getId()}">
                                                        <label class="form-check-label" for="inlineCheckbox1NewUser"
                                                               th:text="${#strings.replace(role.getRoleName(), 'ROLE_', '')}">USER</label>
                                                    </div>
                                                    <br/>
                                                    <div class="position-absolute bottom-35 start-50 translate-middle-x">
                                                        <button style="background-color: green" type="submit"
                                                                class="btn btn-primary">
                                                            Add new user
                                                        </button>
                                                    </div>
                                                </form>
                                                <br/>
                                                <br/>
                                            </div>
                                        </div>
                                        <!-- конец формы-->
                                    </div>
                                    <!-- конец реализации создания нового пользователя-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div class="card-body">
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>Username</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Year Of Birth</th>
                                <th>Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user:${allUsers}" th:unless="${user.name == authUser.name}">
                                <th scope="row" th:text="${user.getId()}">ID</th>
                                <td th:text="${user.getUserName()}">Username</td>
                                <td th:text="${user.getName()}">First Name</td>
                                <td th:text="${user.getSurname()}">Last Name</td>
                                <td th:text="${user.getEmail()}">Email</td>
                                <td th:text="${user.getYearOfBirth()}">Year Of Birth</td>
                                <td th:text="${#strings.replace(
                        (#strings.replace(
                        (#strings.replace(user.getRole(), 'ROLE_', '') + ' '),'[','')),']','')}">Role
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>
</html>